:host {
	width: 256px;
	height: 224px;

	display: block;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

/**
 * x-nes wraps everything in a div to be able to set root classes without exposing
 * those outside of the shadow root
 */
.nes-wrapper {
	position: relative;
	background-color: #000;
	padding: 0;
	margin: 0;
}

/**
 * Don't show cursor when mouse is inactive.
 */
.nes-mouse-inactive {
	cursor: none;
}

.nes-paused canvas {
	opacity: .5;
}

/**
 * Fullscreen styling.
 */
.nes-fullscreen {
	width: 100vw;
	height: 100vh;

	position: absolute;
	left: 0;
	top: 0;
}

.nes-fullscreen canvas {
	position: absolute;
	left: 50%;
	top: 50%;

	margin-left: -128px;
	margin-top: -112px;
}

/**
 * Emulator video output should always scale to dimensions of parent, 
 * while retaining aspect ratio.
 */
/*canvas {
	width: 100% !important;
	height: 100% !important;
	object-fit: contain;
}*/

/**
 * Crontrol bar styling.
 */
.nes-controls {
	position: absolute;
	bottom: 0;

	width: 100%;
	margin: 0;
	padding: 8px;

	background-color: #343f4a;
}

/**
 * Should controls on hover or if emulator is paused.
 */
.nes-wrapper:hover .nes-controls,
.nes-paused .nes-controls,
.nes-inactive .nes-controls {
	transform: translateY(0);
}

.nes-controls,
.nes-wrapper.nes-mouse-inactive .nes-controls {
	/**
	 * Controls are hidden by default (and when mouse is inactive)
	 */
	transform: translateY(100%);
	transition: transform .2s ease;
}

.nes-main-controls {
	float: left;
}

.nes-secondary-controls {
	float: right;
}

/**
 * Button styling
 */
button {
	border: none;
	border-radius: 3px;

	background: none;
	cursor: pointer;

	transition: background .2s ease;
}

button:hover {
	background-color: #3498db;
}

button path {
	stroke: none;
	fill: #cbd0d3;

	transition: fill .2s ease;
}

button:hover path {
	fill: #fff;
}

/**
 * Toggle play/pause buttons visibility depending on state.
 */
.nes-pause {
	display: none;
}

.nes-play {
	display: inline;
}

.nes-playing .nes-pause {
	display: inline;
}

.nes-playing .nes-play {
	display: none;
}

/**
 * Toggle enter/exit fullscreens button visibility depending on state.
 */
.nes-fullscreen-exit {
	display: none;
}

.nes-fullscreen-enter {
	display: inline;
}

.nes-fullscreen .nes-fullscreen-exit {
	display: inline;
}

.nes-fullscreen .nes-fullscreen-enter {
	display: none;
}

.nes-no-fullscreen .nes-fullscreen-exit {
	display: none;
}
.nes-no-fullscreen .nes-fullscreen-enter {
	display: none;
}

/**
 * Toggle enable/disable sound buttons visibility depending on state.
 */
 .nes-audio-enable {
	display: none;
}

.nes-audio-disable {
	display: inline;
}

.nes-muted .nes-audio-enable {
	display: inline;
}

.nes-muted .nes-audio-disable {
	display: none;
}

/**
 * Style audio volume slider.
 * This is a pain, by the way. Why is this so hard?
 */
input[type=range] {
	-webkit-appearance: none;
	background: none;

	position: relative;
	width: 60px;
	margin: 0;
	padding: 0;
}
input[type=range]:focus {
    outline: none;
}

/**
 * The slider track.
 */

 /* Webkit/Blink */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 6px;
    background: #565d64;
    border: none;
    border-radius: 3px;
}

/* Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #565d64;
    border: none;
    border-radius: 3px;
}

/**
 * The slider thumb.
 */

 /* Webkit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #cbd0d3;
    margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-thumb {
    background: #3498db;
}

/* Firefox */
input[type=range]::-moz-range-thumb {
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #cbd0d3;
    margin-top: -4px;
}
input[type=range]:focus::-moz-range-thumb {
    background: #3498db;
}

/* IE */
input[type=range]::-ms-track {
	width: 100%;
	height: 12px;
	margin: 0;
	padding: 0;

	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	height: 5px;
	background: #565d64;
}
input[type=range]::-ms-fill-upper {
	height: 5px;
	background: #565d64;
}
input[type=range]::-ms-thumb {
	border: none;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: #cbd0d3;
}
input[type=range]:focus::-ms-thumb {
	background: #3498db;
}